.window {
  display: flex;
}

.div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  max-height: 659px;
  height: 100%;
  margin-top: 2%;
  background-color: azure;
}

.inform {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: transparent;
  padding: 10px;

  @media (max-width: 505px) {
    width: 310px;
  }
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  @media (max-width: 1176px) {
    margin: 0;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 325px;
  margin-top: 52px;

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #999999;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;

    .user {
      top: 25px;
      left: 0;
      opacity: 0.5;
    }

    img {
      position: absolute;
      top: 30px;
      left: 0px;
      opacity: 0.5;
    }
    input {
      border: none;
      border-bottom: 1px solid #000842;
      padding: 10px 30px;
      opacity: 0.5;

      &::placeholder {
        opacity: 0.8;
      }

      &:focus {
        opacity: 1;
        border: none;
        outline: none;
        border-bottom: 2px solid #000842;
      }
    }
  }
}

.punkt {
  text-align: center;
  transition: all 0.4s ease-in-out;
  font-size: 15px;
}
.link {
  margin-left: 10px;
  opacity: 0.5;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.signin {
  background-color: #0c21c1;
  padding: 14px 191px;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  margin-top: 55px;
  transition: all 0.4s ease-in-out;
  border: none;

  @media (max-width: 505px) {
    margin-top: 45px;
    padding: 14px 141px;
  }

  &:hover {
    cursor: pointer;
    background-color: darken($color: #0c21c1, $amount: 10);
  }
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.icon {
  margin-right: 10px;
  transform: scale(1);
  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}

.errors {
  position: absolute;
  top: 94%;
  color: red;
  font-size: 12px;
  padding-top: 3px;
}

.image {
  max-width: 735px;
  height: 659px;

  @media (max-width: 1230px) {
    margin-right: 30px;
    width: 545px;
  }

  @media (max-width: 1176px) {
    margin-right: 20px;
    width: 445px;
  }

  @media (max-width: 1056px) {
    display: none;
  }
}
